Assets/TextMesh*/** linguist-detectable=false
Assets/TextMesh Pro/** linguist-detectable=false

Assets/Plugins/NativeFilePicker/** linguist-detectable=false
Assets/Plugins/NativeGallery/** linguist-detectable=false
*.mm linguist-detectable=false
